/remote-control.X/nbproject/
/remote-control.X/build/default/
/remote-control.X/dist/default/
/remote-control.X/Makefile
/remote-control-asm.X/nbproject/
/remote-control-asm.X/build/default/
/remote-control-asm.X/dist/default/
/remote-control-asm.X/Makefile
/receiver-switch.X/nbproject/
/receiver-switch.X/build/default/
/receiver-switch.X/dist/default/
/receiver-switch.X/Makefile
